* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: 0;
}


body {
    background-color: #fafdfd;
    color: rgb(239, 243, 7);
    font-family:Arial, Helvetica, sans-serif;

}

.parent {
    background-color: #160663;
    width: 350px;
    height: 500px;
    margin: 50px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;

}

.intro {

    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}



.start,.guessnumber, .time { display: none;}

.time{
    font-size: 2rem;
    color: #735de0;
}

.show-info{
    color: #edf5b0;
    text-align: center;
}
    
h3 { 
    width: 65%;
    color: #119b9b;
    direction: rtl;
    text-align: center;
    
}



.startshow{

    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.show-element{
    height: 200px;
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input{
    width: 19rem;
    height: 3rem;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    text-align: center;
    font-size: 2rem;
}

button{
    width: 5rem;
    height: 2rem;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.show-time{
    color: #19fa4a;
    font-size: 1.2rem;
}

.wintext{
    /* width: 1.5rem; */
    padding: 15px;
    background: rgb(43, 252, 53);
    color: rgb(34, 11, 3);
    font-size: 1.6rem;
    border-radius: 12px;
}

